
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font family:inter  */
body{
    max-width: 1140px;
    background-color: rgb(0, 0, 0);
    border: 2px solid yellow;
}
.header-first{
    
    margin-top: 100px;
    /* border: 2px solid tomato; */
    
}
.header-primary{
    color: rgb(255, 255, 255);
font-size: 4.25rem;
font-weight: 900;
width: 500px;
height: 440px;
/* border: 2px solid rebeccapurple; */

}
.maima{
    font-weight: 400;
    font-family : Miama , sans-serif;
font-style : italic
}
.huge{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);;
}
.btn2{
    width: 200px;
    border-radius: 42px;
    border-style: none;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 600;
height:50px ;
/* padding: 12px 35px 12px 35px; */
}

.download-app{
    width: 120px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    font-weight: 600;
padding: 12px 35px 12px 35px;
font-size: 1rem;
color:
rgb(255, 255, 255);
}
.first-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}
.workout{
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
background: rgba(48, 48, 48, 0.54);
width: 185px;
height: 92px;
margin-top: 30px;
}
.first-number{
    color: rgb(255, 255, 255);
font-size: 40px;
font-weight: 900;
}
.free-work{
    font-size: .7rem;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    padding: 1rem 2.5rem;
   
    position: relative;
    left: 250px;
    top: 30px;
    width: 105px;
}
.navigation{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    /* border: 2px solid tomato; */
}
.cercel{
    width: 40px;
    height: 40px;
    border-radius: 100%;
   background-color: rgb(230, 83, 60);
}
.second-number{
    font-size:1.3rem ;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.video-tutorial{
    font-size: .9rem;
    font-weight: 400;
    color:rgba(239, 237, 232, 0.65) ;
}
.tutorial{
    width: 160px;
    height: 90px;
    display: flex;
    gap: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    padding-left: .6rem;
}
.header-2nd{
    display: flex;
    flex-direction: column;
    gap: 325px;
    margin-top: 140px;
    /* border: 2px solid tomato; */
    background-image: url('../images/Images\ 2.png');
    width: 350px;
    height: 600px;
}






/* strating second part */
.section1{
    /* border: 2px solid tomato; */
    width: 1000px;
    height: 450px;
    margin-left: 125px;
}
.habit{
    font-size: 2.6rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    width: 476px;
    height: 10px;
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    
}
.describ{
    font-size: .7rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 670px;
    height: 10px;
    margin-top: 0px;
    justify-self: center;
    text-align: center;
    /* border: 2px solid tomato; */
}
.change-habit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* shared card coad */
.card-img{
    border-radius: 100%;
    margin-left: 22px;
}
.card-name{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
text-align: center;
height: 4px;

}
.card-title{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
text-align: center;
height: 35px;
width: 200px;
margin-left: 10px;
}
.cards{
    width: 230px;
    /* border: 2px solid grey; */
    /* margin-left: 20px; */
}
.card{
    display: flex;
    margin-top: 58px;
    margin-left: 25px;
}

/* starting third part */
.section2{
    display: flex;
    width: 1020px;
    height: 370px;
    border-radius: 18px;
background: rgb(34, 34, 34);
margin-left: 100px;
}
.text-name{
    height: 80px;
    width: 443px;
    color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
margin-left: 54px;
margin-top: 30px;
padding-top: 50px;
}
.text-title{
    height: 72px;
    width: 350px;
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-left: 54px;

}
.btn3{
    width: 200px;
    height: 54px;
    border-radius: 42px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
margin-left: 54px;
border-style: none;
}
.ran-img{
    width: 350px;
    height: 300px;
   margin-top: 35px;
   /* margin-right: 3px; */
   margin-left: 150px;
}


/* foreth part starting  */

.section3{
    width: 1100px;
    background-color: darkslategrey;
    /* display: flex; */
    margin-left: 20px;

}
.left-right{
    display: flex;
}
.rest-eat{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: whitesmoke;
}
.rest-name{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
    margin-left: 100px;
}
.rest-title{
    color: gray;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    margin-left: 100px;
}
.rest-img{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    border-radius: 10px;
}
.right{
    margin-left: 30px;
}
.rest-eat{
    margin-top: 30px;
}
#btn-mix{
    margin-left: 100px;
    margin-bottom: 5px;
}


/* start semi section  */
.semi-section{
   margin-left: 300px;
    width: 650px;
    height: 120px;
}
.bmi{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    height: 10px;
    /* justify-content: center; */
}
.bmi-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

}


/* section four starting  */
.section4{
    display: flex;
    width: 1140px;
    height: 490px;
    background: rgb(34, 34, 34);
}
.chart-name{
    color: rgb(255, 255, 255);
font-size: 1.5rem;
font-weight: 900;
margin-top: 50px;
padding-top: 50px;
margin-left: 100px;
}
td{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
    border: 1px solid grey;
    padding: 15px 30px 15px 30px;
}
table{
    margin-left: 100px;
    margin-top: 50px;
    border-collapse: collapse;
}
thead > tr > td{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 500;
}
input{
    border-radius: 8px;
border-style: none;
background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.6);
font-size: 16px;
font-weight: 400;
width: 265px;
height: 30px;
margin-top: 8px;
padding: 8px;
}
select{ border-radius: 8px;
    border-style: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 400;
    width: 265px;
height: 48px;
margin-top: 8px;
padding: 8px;

}
form{
    margin-top: 40px;
    /* margin-bottom: 50px; */
    display: block;
    /* background: rgba(255, 255, 255, 0.1); */
}
.all-calculate{
    /* display: flex; */
}
.calculat{
    width: 580px;
    /* height: 486px; */
    /* border: 2px solid turquoise; */
    margin-left: 70px;
}
.calculat-name{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 50px;
    padding-top: 50px;
}
.calculat-title{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
form > label > #sell{
    display: block;
}
#btn4{
    width: 200px;
    height: 54px;
    border-radius: 42px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
border-style: none;
margin-top: 30px;
}
#select2{
    width: 565px;
}
#select1{
    width: 280px;
}

/* trainer part strating  */
#habit{
    width: 1100px;
    margin-top: 50px;
}
#describ{
    width: 1100px;
    margin-top: 30px;
    text-align: center;
}

.trainer-img{
    width: 290px;
    height: 270px;
    /* margin-top: 20px; */
    /* margin-left: 20px; */
    border-radius: 15px;
   
  
}
.trainers{
    width: 960px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
   padding-top: 30px;
   padding-left: 25px;
}


/* footer part starting point  */
footer{
    background: rgba(255, 255, 255, 0.1);
    margin-top: 60px;
    padding-bottom: 30px;
}
.foot-all{
    display: flex;
    gap: 100px;
}
.foot1{
    width: 443px;
height: 176px;
/* border: 1px solid tomato; */
padding-bottom: 90px;
margin-bottom: 30px;
margin-left: 30px;
}
.foot1-name{
    color: rgb(230, 83, 60);
font-size: 70px;
font-weight: 800;
margin-left: 100px;
height: 10px;

}
.foot1-title{
    margin-left: 100px;
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
}

.foot-same-name{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.foot-same-title{
    color: rgba(255, 255, 255, 0.5);
font-size: 23px;
font-weight: 400;
margin-top: 10px;
height: 12px;
}
.foot2{
    margin-top: 50px;
}
.line-only{
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 900px;
    margin-left: 100px;
}
.the-end{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
font-size: 20px;
font-weight: 400;
}